* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Oxanium", system-ui;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.choice {
    width: 170px;
    height: 170px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    line-height: 5rem;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;

}

img:hover {
    translate: 0 -5px;
    transition: 80ms;
    cursor: pointer;
}

.score-board {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#message-container {

    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.174);
    padding: 20px;
}

#computer-score,
#user-score {
    background-color: rgba(240, 248, 255, 0.174);
    border-radius: 20px;
    margin-bottom: 10px;

}



.score {

    width: 40%;

}

@media (min-width: 100px) {

    img {
        width: 100px;
        height: 100px;

    }

    .choice {
        width: none;
        height: none;

    }

    h1 {
        line-height: 3rem;
        font-size: 28px;
    }

    #message-container {

        font-size: 1rem;
      
    }

    .score-board {
        font-size: 1rem;
    
    }
}

@media (min-width: 550px){
    img {
        width: 130px;
        height: 130px;

    }

    .choice {
        width: none;
        height: none;
      

    }

    h1 {
        line-height: 3rem;
        font-size: 38px;
    }

    #message-container {

        font-size: 1.2rem;
       
    }

    .score-board {
        font-size: 1.2rem;
    
    }
}

@media (min-width: 750px){
    img {
        width: 200px;
        height: 200px;

    }

    .choice {
        width: none;
        height: none;
        padding: 43px;

    }

    h1 {
        line-height: 3rem;
        font-size: 54px;
    }

    #message-container {

        font-size: 1.4rem;
      
    }

    .score-board {
        font-size: 1.4rem;
        
    }
}

